## Introdução ao Spark SQL
Neste notebook vou fazer uma rápida demonstração do Spark SQL

### Importando as bibliotecas
Nesta etapa iremos apenas importar todas as bibliotecas e funções necessárias para rodar o programa

In [3]:
from pyspark.sql import SparkSession

### Criando uma SparkSession
Por meio de uma SparkSession terei acesso ao SparkContext da minha aplicação.

In [5]:
spark = SparkSession.builder.appName('Select').getOrCreate()

### Carregando os dados
Nesta etapa estamos carregando os dados que utilizaremos neste notebook

In [7]:
dados = spark \
    .read.option("header","true") \
    .option("inferSchema","true") \
    .option("delimiter",";") \
    .format("csv") \
    .load("/FileStore/tables/bank_additional_full-3fd09.csv")

### Dica

Você pode acessar o prompt de comando do Spark SQL por meio do comando spark-sql

<p>Uma vez dentro do spark-sql, você tem praticamente todas as principais operações de um banco de dados relacional,
como criação de banco de dados, tabelas, views, etc. Não veremos estes comandos neste curso, pois seria necessário um curso
específico este módulo do Spark.

<p>Outra informação importante é que você pode conectar outras ferramentas (por exemplo Tableau) no seu banco de dados/tabelas
do spark-sql por meio de uma conexão Thrift JDBC

### Registrando a tabela e executando consultas SQL

In [10]:
dados.createOrReplaceTempView("dados")

In [11]:
teste = spark.sql("select * from dados limit 10")

In [12]:
teste.show()

### Obrigado!
Quer construir uma carreira em Data Science? Acesse meu blog pessoal em https://www.hackinganalytics.com/